<div class="container">
<form  [formGroup]="reactiveForm" (ngSubmit)="setData()">
    <h4 class="text-success">Reactive Form</h4>
    <br>
    
    <div class="3boxes">
        <input type="text" #fName name="fName" placeholder="First Name"  formControlName="fName" required > 
     
        <br>
        <br>
        <input type="text" #mName name="mName" placeholder="Middle Name" formControlName="mName" required >
        <input type="text" #lName formControlName="lName" name="lName" placeholder="Last Name"  required >
    </div>
    <br>
   
    <textarea name="textArea" readonly   rows="10" cols="30" required>{{fName.value+mName.value+lName.value}}</textarea>

    <br>
    <br>
    <input type="number" name="age" formControlName="age" placeholder="Enter Your Age" required>
    <div class="gender_btns">
        <h4 class="text-success">Select Your Gender</h4>
        <label for="male">

            <input type="radio" required formControlName="gender" name="gender" value="Male" id="male">
            Male
        </label>
        <br>
        <label for="female">

            <input type="radio" required formControlName="gender" name="gender" value="Female" id="female">
            Female
        </label>
        <br>
        <label for="not_to_say">

            <input type="radio" required formControlName="gender"  name="gender" value="Prefer Not To say" id="not_to_say">
            Prefer Not to say
        </label>

    </div>
    <br>
    <div class="hobbies">
        <h4 class="text-success">Select Your Hobbies</h4>
        <label for="hobby1">
            <input   formControlName="hobby1" id="hobby1" type="checkbox">
            Music
        </label>
        <br>
        <label for="hobby2">
            <input  formControlName="hobby2" id="hobby2" type="checkbox">
            Singing
        </label>
        <br>
        <label for="hobby3">
            <input   formControlName="hobby3" id="hobby3" type="checkbox">
            Dance
        </label>
        <br>
        <label for="hobby4">
            <input formControlName="hobby4" id="hobby4" type="checkbox">
            Reading
        </label>
        <br>
        <label for="hobby5">
            <input   formControlName="hobby5" id="hobby5" type="checkbox">
            Cricket
        </label>
        <br>
    </div>
    <br>
<div class="company_list">
    <h4 class="text-success">Select Company</h4>
    <select name="company_list" id=""  formControlName="company" required>
        <option value="Techextensor">Techextensor</option>
        <option value="Google">Google</option>
        <option value="Meta">Meta</option>
        <option value="OpenAi">OpenAi</option>
        <option value="Jio">Jio</option>
        <option value="Adani">Adani</option>
        <option value="Synzeal">Synzeal Pvt Ltd</option>
        <option value="Other">Other</option>
    </select>
</div>
<br>
<div class="3btns">
    <button  class="btn btn-primary" routerLink="/app-template-driven-form/{{this.sendDataId}}">Back</button>
    <button  class="btn btn-danger" (click)="this.reactiveForm.reset()">Reset</button>
    <button  class="btn btn-success" [disabled]="!reactiveForm.valid">Submit</button>
</div>
</form>
</div>